@{
    ViewData["Title"] = "Declaraties";
    var Member = ViewData["Member"] as Member;
    var Receipts = ViewData["Receipts"] as Receipt[];
    var ReceiptStatuses = ViewData["ReceiptStatuses"] as Dictionary<long, ReceiptStatus>;
}
<h1>@ViewData["Title"]</h1>


@if (@Member != null) {

    <p>Hallo @(Member.Name)!</p>

    <p>Hier kan je je bonnetjes inleveren:</p>

    <p><a asp-action="Nieuw"><button class="btn btn-primary">Nieuwe declaratie</button></a></p>

    <p>Dit zijn je bestaande declaraties in de database:</p>

    <table>
        <tr>
            <th>Bedrag</th>
            <th>Opmerking</th>
            <th>Status</th>
        </tr>
        @if (Receipts == null || Receipts.Length == 0) {
        <tr>
            <td colspan="999">Je hebt nog geen bonnetjes ingeleverd.</td>
        </tr>
        } else {
            @foreach (var Receipt in Receipts) {
            <tr>
                <td>@(Receipt.Amount)</td>
                <td>@(Receipt.Note)</td>
                <td>@(Receipt.ReceiptStatusId). @(ReceiptStatuses[Receipt.ReceiptStatusId]?.Name)</td>
            </tr>
            }
        }
    </table>

} else {

    <p>Niet ingelogd</p>
}